<div class="inputs__block">
  <!-- expenses -->
  <form action="" class="expenses__block">
    <div class="fields amount">
      <i class="fa-solid fa-dollar-sign"></i>
      <input
        type="text"
        class="input__field amount__field"
        id="amount__field"
        name="amount__field"
        placeholder="Amount"
        required
      />
    </div>

    <div class="fields description">
      <i class="fa-solid fa-file"></i>
      <input
        type="text"
        class="input__field description__field"
        id="description__field"
        name="description__field"
        placeholder="Description"
        required
      />
    </div>

    <button type="submit" class="btn expense__btn">
      Add expense <i class="fa-solid fa-share"></i>
    </button>
  </form>

  <!-- budget -->
  <form action="" class="budget__block">
    <div class="fields budget">
      <i class="fa-solid fa-file"></i>
      <input
        type="text"
        class="input__field budget__field"
        id="budget__field"
        name="budget__field"
        placeholder="Budget"
        required
      />
    </div>
    <button type="submit" class="btn budget__btn">
      Add budget <i class="fa-solid fa-floppy-disk"></i>
    </button>
  </form>
</div>
