<div class="things__bought">
  <div class="expenses__heading">
    <p class="description">Description</p>
    <p class="description">Amount</p>
    <div class="icons">
      <i class="fa-solid fa-pencil"></i>
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>

  <!-- <div class="expenses__bought">
    <p class="description">Description</p>
    <p class="description">Amount</p>
    <div class="icons">
      <i class="fa-solid fa-pencil"></i>
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>
</div> -->
</div>
