<div class="prices__block grid grid__1x2">
  <div class="prices budget__price">
    <i class="fa-solid fa-dollar-sign"></i>
    <h2 class="mini__heading budget__heading">Budget</h2>
    <p class="amounts budget__amount">0</p>
  </div>

  <!-- expense -->
  <div class="prices expenses__price">
    <i class="fa-solid fa-suitcase"></i>
    <h2 class="mini__heading expenses__heading">Expenses</h2>
    <p class="amounts expenses__amount">0</p>
  </div>

  <!-- balance -->
  <div class="prices balance__price">
    <i class="fa-solid fa-wallet"></i>
    <h2 class="mini__heading balance__heading">Balance</h2>
    <p class="amounts balance__amount">0</p>
  </div>
</div>
